<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="/intro to html/styles/General.css">
    <link rel="stylesheet" href="/intro to html/styles/Header.css">
    <link rel="stylesheet" href="/intro to html/styles/Hero.css">
    <link rel="stylesheet" href="/intro to html/styles/Card.css">
  </head>
  <body>
    <div class="header">
      <a href="https://pldthome.com">
        <img class="logo" src="/intro to html/assets/PLDT-logo-2016.png">
      </a>
      <button class="contact-button">
        <img src="/youtube/icons/notifications.svg" alt="">
        Contact us
      </button>
    </div>
    
    <div class="hero">
      <img class="mascot" src="/intro to html/assets/welcome.png">
      <h1>Gentle Reminder from PLDT!</h1>
    </div>
    
    <div class="card-container">
      <div class="card">
        <p><span>Dear Valued Subscriber,</span></p>
        <p>	You may have missed paying your bill which caused the restriction of your internet service.</p>
        <p>To restore your internet connection, please pay your bill IMMEDIATELY.</p>
        <p>You may pay online via PayExpress, PayMaya, Shopee or GCash. Payment can also be made in Bayad Center, SM and 7-11 stores nationwide, or in any of our accredited payment channels found at www.pldthome.com/paymentcenters</p>
        <p>For your convenience, you may request for reconnection through:</p>
        <p>&#183; PLDT Home Facebook Messenger</p>
        <p>&#183; 171</p>
        <p>Thank you.</p>
      </div>
    </div>
  </body>
</html>