<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/intro to html/styles/twitterform.css"/>
    <link rel="stylesheet" href="/intro to html/styles/uberform.css"/>
    <link rel="stylesheet" href="/intro to html/styles/googleform.css"/>
  </head>
  <body>
    <div class="card">
      <p>Sign Up to Twitter</p>
      <input class="inline textbox" type="text" placeholder="First name">
      <input class="inline textbox" type="text" placeholder="Last name">
      <input class="block textbox email" type="text" placeholder="Email">
      <button class="block button">Sign Up</button>
    </div>

    <div class="card">
      <p>Request a Ride now.</p>
      <input class="block textbox2" type="text" placeholder="Enter pickup location">
      <input class="block textbox2" type="text" placeholder="Enter destination">
      <button class="inline request-button">Request now</button>
      <button class="inline schedule-button">Schedule for later</button>
    </div>

    <div class="card" style="padding: 50px; text-align: center;">
      <img class="google-logo" src="/intro to html/assets/google.png">
      <input class="block google-textbox" type="text" placeholder="Search Google or type a URL">
    </div>
  </body>
</html>