<!DOCTYPE html>
<html>
  <head>
    <title>Images</title>
    <style>
      .image1{
        width: 200px;
        height: 150px;
        object-fit: cover;
        border-radius: 20px;
      }
      
      .image2{
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: center;
      }
      
      .image3{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100%;
      }
    </style>
  </head>

  <body>
    <img class="image1" src="/intro to html/assets/dog.jfif">
    <img class="image2" src="/intro to html/assets/dog.jfif">
    <img class="image3" src="/intro to html/assets/dog.jfif">
  </body>
</html>