<style>
  p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: large;
    color: rgb(41, 41, 41);
  }
  .bold{
    font-weight: bold;
  }
  .accent{
    color: rgb(222, 144, 0);
    letter-spacing: 1.5;
    font-size: 15;
    margin: 0 0 10 0;
  }
  .med{
    font-size: 33;
    letter-spacing: -0.3;
    margin: 0;
  }
  .large{
    font-size: 60;
    margin: 0;
    letter-spacing: -1;
  }
  .tweet-button-dropShadow{
    background-color:rgb(28, 138, 255);
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 18px;
    padding: 8 18 8 18;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s;
  }
  div{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
</style>
<div>
  <p class="bold accent">New</p>
  <p class="bold med">MacBook Pro</p>
  <p class="bold large">Supercharged for pros.</p>
  <p>From $1999</p>
<button class="tweet-button-dropShadow">Buy</button>
</div>