<style>
  .title{
    font-weight: bolder;
    font-size: xx-large;
  }
  .price{
    color:rgb(0,118,0);
    font-weight: bold;
  }
  .link{
    color:rgb(0,113,133);
  }
  .link:hover{
    color:rgb(135, 88, 0);
  }
  .add-button{
    background-color: rgb(255,216,20);
    padding: 8 20 8 20;
    margin-right: 8px;
    border:none;
    border-radius: 18px;
    font-weight: bold;
  }
  .add-button:hover{
    background-color: rgb(232, 196, 19);
  }
  .add-button:active{
    opacity:0.5;
  }
  .buy-button{
    background-color: rgb(255,164,28);
    padding: 8 20 8 20;
    margin-right: 8px;
    border:none;
    border-radius: 18px;
    font-weight: bold;
  }
  .buy-button:hover{
    background-color: rgb(213, 137, 23);
  }
  .buy-button:active{
    opacity:0.5;
  }
</style>

<a class="link" href="https://www.Amazon.com" target="_blank">
    Back to Amazon
</a>
<p class="title">
  Nike Black Running Shoes
</p>
<p class="price">
  $39 - in stock.
</p>
<p>
  Free delivery tommorow!
</p>

<button class="add-button">
  Add to Cart
</button>

<button class="buy-button">
  Buy now
</button>
